body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background: #0b2a4a;
    color: white;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.hero {
    height: 90vh;
    background: linear-gradient(to right, #0b2a4a, #154d80);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 48px;
}

.btn {
    margin-top: 20px;
    display: inline-block;
    padding: 12px 25px;
    background: orange;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.section {
    padding: 70px 60px;
    text-align: center;
}

.light {
    background: #f4f4f4;
    color: #333;
}

.dark {
    background: #0b2a4a;
    color: white;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: white;
    color: #333;
    padding: 20px 30px;
    border-radius: 8px;
    width: 200px;
}
footer {
    padding: 20px;
    text-align: center;
    background: #071d34;
    color: white;
}

.logo img {
    height: 50px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: auto;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.contact-form button {
    padding: 12px;
    background: orange;
    color: white;
    border: none;
    border-radius: 5px;
}

